.card {
    background-color: #ffffff;
    border: 2px solid brown; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 700px;
    margin: 50px auto; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h1 {
    font-size: 2.5rem;
    color: #333;
    animation: slideInLeft 1s ease forwards;
    margin-bottom: 20px;
}

.card p {
    font-size: 1.5rem; 
    color: #555;
    animation: slideInLeft 1.5s ease forwards;
}



.animated-text {
    font-size: 2rem;
    color: #333;
    animation: fadeInUp 1s ease forwards;
    margin-bottom: 15px;
}

.animated-card p {
    font-size: 1.2rem;
    color: #666;
    animation: fadeInUp 1.5s ease forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
