
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color:#fff;
    padding: 5px 10px;


}

.select {
    background-color: brown;
    padding: 10px 20px;
    position: relative;
    transition:background-color ease 2s;
    border-radius: 20px 0 20px 0;
}