@import url("./navbar.css");
@import url("./home.css");
@import url("./contact.css");
@import url("./project.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
   background: linear-gradient(90deg,rgb(131, 195, 220) 0%, rgba(87, 199, 133, 1) 43%, rgba(237, 221, 83, 1) 100%);    
}

body header{
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
}

